<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Tweet2Vec</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
    <header>
      
      <nav>
            <div class="row">
                              
                <ul class="main-nav">
                    <li><a href="/about">About</a></li>
                    <li><a href="/most_similar">Most similar</a></li>
                    <li><a href="/plots">Word map</a></li>
                    <li><a href="/tweet_gen">Tweet generator</a></li>
                </ul>
            </div>                    
        </nav>
      
     <div class="login1">
         <li>
        <h1>Most similar</h1>
             </li>

         <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}"method="post">
            <li>
            <input type="text" name="keyword" placeholder="słowo kluczowe" required="required" />
                </li>
            <li>

            <input type="text" name="topn" placeholder="liczba słów do wyświetlenia" required="required" />
            </li>

            <li>
            <button type="submit" class="btn btn-primary btn-block btn-large">Pokaż najbardziej podobne słowa</button>
                </li>
        </form>

       <br>
       <br>

     </div>
      <div class="tables">
            
            <p style="text-align: top">{{ key_word  }}</p>
          <br>

          <li>
              {{ pis }}<br><br>
            {{ table_pis }}
              </li>
          <li>
              {{ ko }}<br><br>
            {{ table_ko }}
              </li>
          <li>
              {{ lewica }}<br><br>
            {{ table_lewica }}
              </li>
          <li>
              {{ konfederacja }}<br><br>
            {{ table_konfederacja }}
              </li>
          <li>
              {{ pslkukiz }}<br><br>
            {{ table_pslkukiz }}
              </li>

          
        </div>
    </header>
</body>
</html>
