<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Tweet2Vec</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
    <header>
      
      <nav>
            <div class="row">
                              
                <ul class="main-nav">
                    <li><a href="#">About</a></li>
                    <li><a href="/">Most similar</a></li>
                    <li><a href="#">Word map</a></li>
                    <li><a href="#">Tweet generator</a></li>
                </ul>
            </div>                    
        </nav>
      
     <div class="login1">
         <li>
        <h1>Word map</h1>
             </li>
         <!-- Main Input For Receiving Query to our ML -->
        <li><form action="{{ url_for('fullplot')}}"method="post">
            
            <select name="party"> 
                <option value="0">PiS</option> 
                <option value="1">KO</option>
                <option value="2">Lewica</option>
                <option value="3">Konfederacja</option>
                <option value="4">PSL-Kukiz</option>
            </select> 
                </li>           
            
            <li>
            <button type="submit" class="btn btn-primary btn-block btn-large">Wyświetl mapę słów</button>
                </li>
        </form>

       <br>
       <br>

     </div>
      <div class="plot">
    <div class="row">
       
        <div class="col-md-6">
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bargraph',graphs,{});
                </script>
            </div>
        </div>
    </div>
</div>
    </header>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plots.js') }}"></script>
</body>
</html>
